node_modules/
.expo/
.vscode/
dist/
env/
env/*.env
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
package-lock.json
google-services.json
carry-firebase-service-account.json

# macOS
.DS_Store